<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% block stylesheet %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
  {% endblock %}

  {% block javascript %}
  {% endblock %}

  <title>{% block title %} Gorilla File {% endblock %}</title>

  {% endblock %}
</head>
<body>
  <header>
    <nav>
        <div class="logo"><a href="/">gorilla file</a></div>
    </nav>
  </header>

  {% block content %}
  {% endblock %}

  <footer>
    <span>Made with <span class="heart">&hearts;</span> by Rajat</span>
  </footer>
</body>
</html>
