{% extends "layout.html" %}


{% block stylesheet %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}"s>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

{% endblock %}


{% block javascript %}

{{ super() }}
<script src="{{ url_for('static', filename='js/app.js')}}" charset="utf-8" defer></script>

{% endblock %}

{% block content %}
{{ super() }}
  <div class="content-wrapper">
    {# displaying flash messages if present #}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <li class="{{ category }} flash-msg">{{ message }} <span class="close"><a href="#">&#10006;</a></span></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{#  if item is None that means file doesn't exists in server, so inform user that otherwise
    ask for password for file #}
    {% if item %}
        <form action="/{{ item.id }}" method="POST" class="password-check-form">
        {{ form.hidden_tag() }}
        {{ form.password(class="password password-check", placeholder="Password") }}<br>
        {{ form.submit(class="button submit") }}<br>
        </form>
    {% else %}
        <h2 class="fi-not-found">Requested file doesn't exists</h2>
    {% endif %}


  </div>
{% endblock %}